:root {
    --search-product-card-background-color: rgb(52, 52, 52);
    --search-product-card-foreground-color: rgba(255, 255, 255, 1.0);
    --search-product-card-noresult-color: rgb(193, 0, 0);
    --search-product-card-link-color: orange;
    --search-product-card-link-hover-color: yellow;
    --search-box-border-color: rgba(0, 0, 0, 0.5);
    --search-box-background-color: rgba(255, 255, 255, 0.7);
}

#product-search-form {
    margin: 1rem 4rem 1rem 0;
}

#product-search-result {
    background-color: var(--search-product-card-background-color);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 50px;
    z-index: 1;
    top: 70px;
    position: absolute;
    opacity: 0.95;
}

#product-search-text {
    padding: 0.5rem 1rem;
    border-radius: 12px;
    border: 1px solid var(--search-box-border-color);
    background-color: var(--search-box-background-color);
    width: 30ch;
    outline: 0;
}

.search-product-card {
    background-color: var(--search-product-card-background-color);
    color: var(--search-product-card-foreground-color);
    padding: 1rem;
    width: 500px;
}

.search-product-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.search-product-name {
    font-weight: 700;
    font-size: 1.2rem;
}

.search-product-desc {
    font-size: 0.9rem;
}

.search-product-link {
    font-weight: 700;
    text-decoration: none;
    color: var(--search-product-card-link-color);
}

.search-product-link:hover {
    color: var(--search-product-card-link-hover-color);
}

.search-product-noresult {
    font-weight: 700;
    color: var(--search-product-card-noresult-color);
}